.home{
    display: flex;
    background-image: url(Image/fabric_1.webp);
    justify-content: center;
    vertical-align: center;
    border-radius: 2em;
    padding: 1em;
}

.home img{
    height: 10em;
    object-fit: contain;
}

.home p{
    padding-left: 1em;
    font-size: 1.5em;
}