header{
    display: flex;
    position: sticky;
    font-family: var(--font-family-title);
    top: 0;
    left: 0;
    width: 100%;
    font-size: var(--fs-header);
    height: var(--header-height);
    z-index: 1;
    background-color: #ffde59;
    background-image: url("Image/Texture/prismeWhite.png");
    background-blend-mode: multiply;
    border-bottom: black 0.1em solid;
    padding-left: 1em;
    padding-right: 1em;
}

header label{

    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
}

.contact_links{
    flex:1;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}

.contact_link{
    font-size: 0.75em;
    text-decoration: none;
    color: #ffde59;
    background-image: url("Image/Texture/prism.png");
    padding: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin: 0.25em;
    border-radius: 1em;
}

.nav_links{
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_links li{
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    display : inline-block;
}

.nav_links a{
    text-decoration: none;
}
.CV {
    padding: 0;
    padding-right: 1.25em;
    float: right;
}