.project_preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.slider_content{
    display: flex;
    aspect-ratio: 16/9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}

.slide{
    flex: 1 0 100%;
    object-fit: cover;
}

.slide img {
    width: 100%;
    object-fit: cover;
}

.slide video{
    width: 100%;
    object-fit: contain;

}

.slider_nav{
    display: flex;
    flex-direction: row;
}

.slider_nav_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;     
}

#last.slider_nav_button {
    padding-right: 0;
}

.slider_nav_button input{
    border: 0.5em gray solid;   
    width: 100%
}

.slider_nav_button :hover{
    border-color: yellow;
    opacity: 80%;
}