.project_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    aspect-ratio: 32/12;
    

}

.project_block > div{
    flex: 1;
    background-image: url("Image/Texture/fabric.webp"); 
    padding: 1rem;
    border-radius: 0.5em;
    font-size: var(--fs-400); 
    align-content: center;
}

.project_block .project_block_separator{
    all: revert;
    width: 2em;
}
