.project_description{
    display: flex;
    flex-direction: column;
}

.project_description h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-600);
    padding-top: 0;
    padding-bottom: 0.3em;
    text-align: center;
}

.project_description h2{
    font-size: var(--fs-500);
    font-family: Arial, Helvetica, sans-serif;
}

.project_description h3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-bottom: 0.3em;
    
}

.project_description p{
    font-weight: 350;
}


.project_links{
    flex:1;
    display: flex;
    flex-direction: row;
    max-height: 5em;
}

.project_link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    padding: 1em;
}

.project_links input{
    font-size: var(--fs-600);
    height: 1em;
}

