*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Roboto Slab", serif;
}

:root{
    --fs-header: 3rem;
    --fs-home: 3rem;
    --fs-600: 4rem;
    --fs-500: 2.5rem;
    --fs-400: 2rem;
    --header-height: 7rem;
    --margin-side : 4rem;
    --font-family-title: Arial, Helvetica, sans-serif;
    --project-block-separator : 1em;
}

body{
    background-image: url("Image/Texture/prism.png");
}

.section{
    padding-top: 2em;
    padding-left: var(--margin-side);
    padding-right: var(--margin-side);
}

.separator{
    height: var(--header-height);
}

@media screen {
    
}


