*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:serif;

}

body{
    background-image: url("Image/prism.png");
}

.section{
    padding: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-color: black;
    border-width: 1px;
    border-style:solid;
    font-size: 2em;
}

.separator{
    height: 7rem;
}
